/* css button */
.btn{
    background-color: #008080;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
}

/* colors */

.btn-green{
    background-color: #4caf50;
}

.btn-blue{
    background-color: #008CBA;
}

.btn-red{
    background-color: #f44336;
}

.btn-gray{
    background-color: #e2e2e2;
    color: #000000;
}

.btn-black{
    background-color: #555555;
}

/* btn size */

.btn-size-10{
    font-size: 10px;
}

.btn-size-12{
    font-size: 12px;
}

.btn-size-20{
    font-size: 20px;
}

.btn-size-24{
    font-size: 24px;
}

/* rounded button */

.btn-round-2{
    border-radius: 2px;
}

.btn-round-4{
    border-radius: 4px;
}

.btn-round-8{
    border-radius: 8px;
}

.btn-round-12{
    border-radius: 12px;
}

.btn-round-50{
    border-radius: 50%;
}

.btn-outline-green{
    background-color: #fff;
    color: #000000;
    border: 2px solid #4caf50;
}

.btn-outline-red{
    background-color: #fff;
    color: #000000;
    border: 2px solid #f44336;
}

.btn-outline-blue{
    background-color: #fff;
    color: #000000;
    border: 2px solid #008CBA;
}

.btn-outline-gray{
    background-color: #fff;
    color: #000000;
    border: 2px solid #555555;
}

.btn-outline-black{
    background-color: #fff;
    color: #000000;
    border: 2px solid #000000;
}

/* hover */

.btn-green:hover{
    background-color: #fff;
    color: #000000;
    border: 2px solid #4caf50;
}

.btn-red:hover{
    background-color: #fff;
    color: #000000;
    border: 2px solid #f44336;
}

.btn-black:hover{
    background-color: #fff;
    color: #000000;
    border: 2px solid #000000;
}

.btn-gray:hover{
    background-color: #fff;
    color: #000000;
    border: 2px solid #555555;
}

.btn-blue:hover{
    background-color: #fff;
    color: #000000;
    border: 2px solid #008CBA;
}